.half-width,
.left-side,
.right-side {
  width: 50%;
}

.main-container,
.burger-menu {
  height: 82%;
}

.burger-menu,
.burger-checkbox:checked ~ .burger-menu {
  transition-duration: 0.5s;
}

.red {
  background-color: #fb0004;
}

.yellow {
  background-color: #fff000;
}

.blue {
  background-color: #0000c1;
}

.purple {
  background-color: #6c0372;
}

.green {
  background-color: #03740d;
}

.orange {
  background-color: #ee7000;
}

.black {
  background-color: #000000;
}

.pink {
  background-color: #ff1391;
}

.white {
  background-color: #ffffff;
}

.opacity:hover {
  opacity: 0.8;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

.touch {
  cursor: pointer;
}

.invisible {
  opacity: 0;
}

.white-text {
  color: white;
}

.anton {
  font-family: "Anton";
}

.medium-fontsize {
  font-size: 18vh;
}

.big-fontsize {
  font-size: 24vh;
}

.max-width {
  width: 100%;
}

.width-by-three {
  width: 33.33%;
}

.max-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.height-by-three {
  height: 33.33%;
}

.top-container {
  height: 18%;
}

.reset-icon {
  width: 2.5vh;
  margin: 0.5rem 0 0 0.5rem;
}

#timer {
  margin-bottom: 2.6vh;
  font-size: 10vh;
}

.submenu {
  width: 19vh;
}

.icon-submenu {
  width: 1.8vh;
}

.submenu-fontsize {
  font-size: 2vh;
}

#burger-button {
  width: 4vh;
  height: 4vh;
  border-radius: 0.7vh;
  margin: 0 1.5vh 1.5vh 0;
}

.burger-icon {
  width: 3vh;
}

.burger-checkbox:checked ~ .top-container .burger-icon {
  transform: rotate(90deg);
}

.burger-menu {
  width: 50vh;
}
