/* https://github.com/j-alarcon */
@media screen and (max-width: 1080px) {
  .alert,
  .left-side,
  .right-side {
    width: 100%;
  }

  .medium-fontsize {
    font-size: 13vh;
  }

  .max-name-fontsize {
    font-size: 8.5vh;
  }

  .small-name-fontsize {
    font-size: 3.5vh;
  }

  .tiny-name-fontsize {
    font-size: 3.5vh;
  }

  .special-height {
    height: 30%;
  }

  .reset-icon {
    width: 3vh;
  }

  .alert {
    height: 5.5vh;
    border-top-right-radius: 0;
  }

  #timer {
    margin-bottom: 4vh;
    font-size: 10vh;
  }

  #burger-button {
    top: 0;
    margin-top: 1.3vh;
  }

  .submenu {
    bottom: 2.3vh;
    width: 22vh;
  }

  .icon-submenu {
    width: 2.2vh;
  }

  .submenu-fontsize {
    font-size: 2.3vh;
  }

  .change-scores {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .normal-name-fontsize {
    font-size: 3.5vh;
  }

  .tiny-name-fontsize {
    font-size: 2.7vh;
  }

  .small-fontsize {
    font-size: 1.9vh;
  }

  .medium-fontsize {
    font-size: 11vh;
  }

  .max-name-fontsize {
    font-size: 7vh;
  }

  .small-name-fontsize {
    font-size: 2.5vh;
  }

  .special-name-fontsize {
    font-size: 2.4vh;
  }

  .submenu {
    width: 25vh;
    bottom: 1.7vh;
  }

  .icon-submenu {
    width: 3vh;
  }

  .submenu-fontsize {
    font-size: 3.1vh;
  }

  .burger-menu {
    width: 100%;
  }

  .input-form {
    font-size: 2.5vh;
  }

  .subtitle-option-fontsize {
    font-size: 2.4vh;
  }

  .options-button {
    font-size: 2vh;
  }
}
