/* https://github.com/j-alarcon */
@media screen and (max-width: 1080px) {
  .alert,
  .left-side,
  .right-side {
    width: 100%;
  }

  .small-name-fontsize,
  .tiny-name-fontsize {
    font-size: 3.5vh;
  }

  .medium-fontsize {
    font-size: 13vh;
  }

  .max-name-fontsize {
    font-size: 9vh;
  }

  .normal-name-fontsize {
    font-size: 5vh;
  }

  .normal-height {
    height: 42.8%;
  }

  .medium-height {
    height: 35.5%;
  }

  .special-height {
    height: 28%;
  }

  .alert {
    height: 6.8vh;
    border-top-right-radius: 0;
  }

  #burger-button {
    top: 0;
    margin: 1.3vh 1.3vh 0 0;
  }

  .edit {
    margin-right: 1.3vh;
  }

  .change-scores {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .small-name-fontsize,
  .subtitle-option-fontsize {
    font-size: 2.4vh;
  }

  .tiny-name-fontsize,
  .special-name-fontsize {
    font-size: 2.3vh;
  }

  .normal-name-fontsize {
    font-size: 3.5vh;
  }

  .small-fontsize {
    font-size: 1.9vh;
  }

  .medium-fontsize {
    font-size: 11vh;
  }

  .max-name-fontsize {
    font-size: 7vh;
  }

  .normal-height {
    height: 43.8%;
  }

  .medium-height {
    height: 37.7%;
  }

  .special-height {
    height: 31.6%;
  }

  .burger-menu {
    width: 100%;
  }

  .input-form {
    font-size: 2.5vh;
  }

  .options-button {
    font-size: 2vh;
  }
}
