@media screen and (max-width: 950px) {
  .medium-fontsize {
    font-size: 13.5vh;
  }

  .reset-icon {
    width: 3vh;
  }

  #timer {
    margin-bottom: 4vh;
  }

  .submenu {
    width: 21vh;
  }

  .icon-submenu {
    width: 2vh;
  }

  .submenu-fontsize {
    font-size: 2.5vh;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .change-scores {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .medium-fontsize {
    font-size: 12vh;
  }
  .burger-menu {
    width: 100%;
  }
}
